/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #f5f5f5;
    color: #4e4e4e;
}

a {
    color: white !important;
    transition: all 0.5s ease-in-out;
}

.logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
}

header {
    background-image: url(../images/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    top: 0;
    height: 100vh;
}

.overlay-intro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.main-header {
    position: relative;
    z-index: 999999999;
    top: 30%;
    transform: translateY(-25%);
}

.Welcome {
    font-size: 1.75rem !important;
    font-weight: 500;
    color: white !important;
}

.morgan {
    font-size: 4rem !important;
    font-weight: 600 !important;
}


/* end header */


/* start section part1 */

.title-left {
    font-size: 2rem;
    position: relative;
    margin-bottom: 1.5rem !important;
}

.title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}

.box-shadow-full {
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 6%), 0 0 10px 0 rgb(0 0 0 / 20%);
}

.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}


/* end section part1 */


/* start section part2 */

.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.service-box .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}

.service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.4rem 0;
}

.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}

.counter-ico {
    margin-bottom: 1rem;
}


/* end section part2 */


/* start section two */

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.paralax-mf {
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    position: relative;
    padding: 8rem 0;
}

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: #0078ff;
}

.counter-box {
    margin-bottom: 1.8rem;
    color: #fff;
    text-align: center;
}

.counter-ico {
    margin-bottom: 1rem;
}

.counter-ico .ico-circle {
    height: 60px;
    width: 60px;
    line-height: 1.5;
    box-shadow: 0 0 0 10px #cde1f8;
}


/* end section two */


/* start section three */

.work-content .w-like i {
    font-size: 2.5rem;
    color: #0078ff;
    float: right;
}

.work-content {
    padding: 2rem 3% 1rem 4%;
}

.w-title {
    font-size: 1.2rem;
}

.work-content .w-more {
    color: #4e4e4e;
    font-size: 0.8rem;
}

.work-content .w-more .w-ctegory {
    color: #0078ff;
}

.work-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.work-img img {
    transition: all 1s;
}

.work-img {
    display: block;
    overflow: hidden;
}

.work-box:hover img {
    transform: scale(1.3);
}

.bg-img {
    background-image: url(/images/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* position: fixed; */
}

.testimonial-box {
    color: #fff;
    text-align: center;
}

.carousel-caption {
    position: initial !important;
}

.testimonial-box .description {
    padding: 0 8rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}


/* end section two  */


/* start section three */

.card-blog .card-body {
    position: relative;
}

.card-blog .card-category-box {
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
}

.card-blog .card-category {
    display: inline-block;
    color: #fff;
    padding: 0 15px 5px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
}

.card-blog .card-category .category {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1px;
    margin-bottom: 0;
}

.card-blog .card-title {
    font-size: 1.3rem;
    margin-top: 0.6rem;
}

.avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}

.author {
    color: #1e1e1e !important;
}

.box-pl2 {
    padding-left: 2rem;
}

.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .box-shadow-full {
        padding: 3rem;
    }
}

.socials {
    padding: 1.5rem 0;
}

.socials ul li {
    display: inline-block;
}

.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    border-radius: 50%;
    line-height: 1.6;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
}

.socials .ico-circle:hover {
    background-color: #0078ff;
    color: #fff;
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
}

.ul-resect,
.widget-tags ul,
.widget-sidebar .list-sidebar,
.box-comments .list-comments,
.blog-wrapper .post-meta ul,
.list-ico,
.socials ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.list-ico {
    line-height: 2;
}

.list-ico span {
    color: #0078ff;
    margin-right: 10px;
}

.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    /* margin: 0 auto; */
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}

.php-email-form button[type="submit"] {
    background: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

.php-email-form button[type="submit"]:hover {
    background: #3393ff;
}

.service-box:hover .ico-circle {
    transition: all 500ms ease;
    color: #fff !important;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
}

footer {
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
}

footer .copyright {
    margin-bottom: 0.3rem;
}

footer .credits {
    margin-bottom: 0;
}

footer .credits a {
    color: #fff;
}